body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 16px; /* corrected font-size to be a valid value */
  color: black;
  background-color: rgba(245, 245, 245, 0.938);
  margin: 0; /* reset default body margin */
}

.divForm {
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-color: rgba(245, 245, 245, 0.938);
  width: 500px;
  border-radius: 20px;
  box-shadow: rgba(160, 158, 161, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.3) 0px 0px 60px -30px,
    rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
  gap: 10px;
}
